<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alert Message</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure that you want to leave this page?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onCancel()"
          data-bs-dismiss="modal"
        >
          Sure
        </button>
      </div>
    </div>
  </div>
</div>

<!-- loading spinner  -->
<div class="d-flex justify-content-evenly" *ngIf="loading">
  <div
    class="spinner-border text-dark my-5"
    role="status"
    style="text-align: center; width: 3rem; height: 3rem"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- error Msg -->
<div class="container" *ngIf="!loading && errorMsg">
  <div class="row my-5">
    <div
      class="col alert alert-danger text-center"
      style="word-wrap: break-word"
    >
      {{ errorMsg }}
    </div>
  </div>
</div>

<div
  class="container mt-3 text-center text-xl-start"
  *ngIf="!loading && !errorMsg"
>
  <p class="h2 fw-bold mb-2">Add Contact</p>
  <p class="fst-italic lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A omnis
    reprehenderit harum! Accusamus non officiis autem quos? Delectus
    accusantium, dolores magnam vitae est pariatur aspernatur eum at! Facilis,
    ratione nostrum.
  </p>
  <div class="row mt-5" *ngIf="!errorMsg">
    <div class="col-md-3 text-center d-block d-md-none mb-3" *ngIf="imgUrl">
      <img
        [src]="imgUrl"
        alt=""
        class="img-fluid rounded-circle img-thumbnail"
      />
    </div>
    <div class="col-md-6 offset-0 offset-md-3 offset-xl-0">
      <form #f="ngForm" (ngSubmit)="addContact()">
        <div class="form-floating mb-3">
          <input
            type="text"
            id="name"
            name="name"
            ngModel
            placeholder="Name"
            class="form-control"
            required
          />
          <label for="name">Name</label>
        </div>
        <div class="form-floating my-3">
          <input
            type="text"
            id="email"
            ngModel
            name="email"
            required
            email
            placeholder="Email"
            class="form-control"
          />
          <label for="photo">Email</label>
        </div>
        <div class="form-floating my-3">
          <input
            type="text"
            id="photo"
            [(ngModel)]="imgUrl"
            name="photo"
            required
            placeholder="Photo Url"
            class="form-control"
          />
          <label for="photo">Photo Url</label>
        </div>

        <div class="form-floating my-3">
          <input
            type="text"
            id="mobile"
            placeholder="Mobile"
            required
            ngModel
            name="mobile"
            class="form-control"
          />
          <label for="mobile">Mobile</label>
        </div>
        <div class="form-floating my-3">
          <input
            type="text"
            id="company"
            placeholder="Company"
            class="form-control"
            ngModel
            required
            name="company"
          />
          <label for="company">Company</label>
        </div>
        <div class="form-floating my-3">
          <input
            type="text"
            id="title"
            placeholder="Title"
            required
            class="form-control"
            name="title"
            ngModel
          />
          <label for="title">Title</label>
        </div>
        <div class="my-3">
          <select
            class="form-select"
            ngModel
            required
            name="groupId"
            style="height: 58px"
          >
            <option value="" disabled selected>
              <span>Choose A Group</span>
            </option>
            <option [value]="group.id" *ngFor="let group of allGroups">
              {{ group.name }}
            </option>
          </select>
        </div>
        <div
          class="my-3 d-flex gap-2 justify-content-center justify-content-xl-start"
        >
          <button class="btn btn-dark" type="submit" [disabled]="!f.valid">
            <i class="bi bi-plus-lg"></i> Create
          </button>
          <button
            class="btn btn-danger"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-x-lg"></i> Back
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-3 text-center d-none d-md-block" *ngIf="imgUrl">
      <img
        [src]="imgUrl"
        alt=""
        class="img-fluid rounded-circle img-thumbnail"
      />
    </div>
  </div>
  <!-- error Msg -->
  <div class="row my-5 mx-2 mx-sm-0" *ngIf="errorMsg">
    <div
      class="col alert alert-danger text-center"
      style="word-wrap: break-word"
    >
      {{ errorMsg }}
    </div>
  </div>
</div>
